// -----------------------------------------------------------------------------
//! Colors
// -----------------------------------------------------------------------------

$orange: #ff5000;
$blue: #00407b;

// -----------------------------------------------------------------------------
//! Fonts
// -----------------------------------------------------------------------------

$proxima: "proxima-nova", sans-serif;


// -----------------------------------------------------------------------------
//! Breakpoints & Sizes
// -----------------------------------------------------------------------------

$xs: 420px;
$sm: 768px;
$md: 992px;
$lg: 1100px;
$page-width: 1420px;
