	.row.page-content .affiliate {float:left;width:100%;margin: 0 0 20px 0;padding: 10px 5px 0 0;}
	.row.page-content .affiliate .affiliate-image {float:left;margin-right:15px; border: 1px solid #e6e4e4;}
	.row.page-content .affiliate .affiliate-image img {display:block;}
	.row.page-content .affiliate .affiliate-bio {float:left;width:440px;}
	.row.page-content .affiliate .affiliate-bio h4 {width:100%;float:left;font-size:16px;font-weight:600;line-height:1.25;color:#00407b;padding:0;margin:0 0 10px 0;}
	.row.page-content .affiliate .affiliate-bio p {font-size:14px;font-weight:400;color:#757575;padding:0;margin:0;}
